<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.health.READ_STEPS" />
<uses-permission android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND" />
<queries><package android:name="com.google.android.apps.healthdata" /></queries>
<application android:name=".StepApplication" android:allowBackup="false" android:dataExtractionRules="@xml/data_extraction_rules" android:label="@string/app_name"
    android:icon="@drawable/ic_steps" android:theme="@style/Theme.StepCounter" android:supportsRtl="true">
<activity android:name=".ui.MainActivity" android:exported="true">
<intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
</activity>
<activity android:name=".ui.PrivacyActivity" android:exported="true">
<intent-filter><action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" /></intent-filter>
</activity>
<activity-alias android:name="ViewPermissionUsageActivity" android:exported="true" android:targetActivity=".ui.PrivacyActivity" android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
<intent-filter><action android:name="android.intent.action.VIEW_PERMISSION_USAGE" /><category android:name="android.intent.category.HEALTH_PERMISSIONS" /></intent-filter>
</activity-alias>
<receiver android:name=".widgets.StepWidgetReceiver" android:exported="false" android:label="@string/app_name">
<intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
<meta-data android:name="android.appwidget.provider" android:resource="@xml/walk_widget" /></receiver>
<receiver android:name=".widgets.CircleWidgetReceiver" android:exported="false" android:label="@string/circle_name"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter><meta-data android:name="android.appwidget.provider" android:resource="@xml/circle_widget" /></receiver>
<service android:name=".widgets.StepPageService" android:permission="android.permission.BIND_REMOTEVIEWS" android:exported="false" />
</application></manifest>
